*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: Barlow;
  line-height: 1.25;
  color: #4C5AA2;
  background: #efefef;
}

h1 {
  margin: 1.5rem 0;
}

/* FullSlide
   ========================================================================== */

.FullSlide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  transform: translate3d(0, 0, 0);
}

/* IntroSlide
   ========================================================================== */

.IntroSlide {
  background: url(../promo_images/bg.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.IntroSlide__foreground {
  background: url(../promo_images/fg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* WorkshopContents
   ========================================================================== */

.WorkshopContents {
  background: #4C5AA2;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.WorkshopContents__content {
  text-align: center;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;

  transition: 0.6s;
}

.WorkshopContents__content--active {
  flex: 6 1 auto;
  opacity: 1;
}

.WorkshopContents__contentHeading {
  padding: 0 1.5rem;
  font-size: 2rem;
}

.WorkshopContents__contentInner {
  transition: transform 0.6s;
}

.WorkshopContents__content--active .WorkshopContents__contentInner {
  transform: translateY(-100px);
}

.WorkshopContents__detailedContent {
  opacity: 0;
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  font-size: 0.9rem;
  padding: 0 1.5rem;

  transition: opacity 0.3s;
}

.WorkshopContents__detailedContent > * {
  margin-bottom: 0.3rem;
}

.WorkshopContents__content--active .WorkshopContents__detailedContent {
  opacity: 1;
}

/* TaskSlide
   ========================================================================== */

.TaskSlide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: #AC2C50;
  color: #fff;
}

.TaskSlide__contents {
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.TaskSlide__contents > * {
  margin-bottom: 1.5rem;
}

.TaskSlide__contents > :last-child {
  margin-bottom: 0;
}

/* PopOver
   ========================================================================== */

.PopOver {
  position: relative;
  display: inline-block;
}

.PopOver__popOver {
  position: absolute;
  background: #428DD8;
  color: #fff;
  padding: 0.2rem 0.5rem;
  padding-bottom: 0.3rem;
  width: max-content;
  font-family: Barlow;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
  border-radius: 4px;
}

.PopOver--active .PopOver__popOver {
  opacity: 1;
}

.PopOver__arrow {
  width: 0; 
  height: 0;
  z-index: 10;
  position: absolute;
}

.PopOver--top .PopOver__popOver {
  transform: translate(-50%, -20px);
  bottom: 100%;
  left: 50%;
}

.PopOver--top .PopOver__arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #428DD8;

  margin-left: -10px;
  top: 100%;
  transform: translateY(-1px);
  left: 50%;
}

.PopOver--bottom .PopOver__popOver {
  transform: translate(-50%, 20px);
  top: 100%;
  left: 50%;
}

.PopOver--bottom .PopOver__arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #428DD8;

  margin-left: -10px;
  bottom: 100%;
  transform: translateY(1px);
  left: 50%;
}

.PopOver--left .PopOver__popOver {
  transform: translate(-20px, 50%);
  bottom: 50%;
  right: 100%;
}

.PopOver--left .PopOver__arrow {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #428DD8;

  margin-top: -10px;
  top: 50%;
  transform: translateX(-1px);
  left: 100%;
}

.PopOver--right .PopOver__popOver {
  transform: translate(20px, 50%);
  bottom: 50%;
  left: 100%;
}

.PopOver--right .PopOver__arrow {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #428DD8;

  margin-top: -10px;
  top: 50%;
  transform: translateX(1px);
  right: 100%;
}

/* HeaderedSlide
   ========================================================================== */

.HeaderedSlide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeaderedSlide__content {
  
}

.HeaderedSlide__main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HeaderedSlide__header, .HeaderedSlide__footer {
  text-align: center;
  flex: 1 0 0;
}

.HeaderedSlide__header::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin-bottom: auto;
}

.HeaderedSlide__header::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin-top: auto;
}

/* StrongCode
   ========================================================================== */

.StrongCode {
  display: inline-block;
  transform: scale(1.05);
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

/* StrongCode
   ========================================================================== */
.Appear {
  opacity: 0;
}

.Appear--show {
  opacity: 1;
}

/* BrightSlide
   ========================================================================== */

.BrightSlide {
  background: #6B7C93;
  color: #fff;
}

/* InlineBlock
   ========================================================================== */

.InlineBlock {
  padding: 1rem;
}

.InlineBlock__block {
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: 1rem;
}

.InlineBlock--showBlock .InlineBlock__block {
  opacity: 1;
}

.InlineBlock__inline {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 0.5rem;
  color: transparent;
  opacity: 0;
  transition: 0.3s;
}

.InlineBlock--showInline .InlineBlock__inline {
  opacity: 1;
}

/* BoxModel
   ========================================================================== */

.BoxModel {
  display: flex;
}

.BoxModel__box {
  width: 200px;
  height: 200px;
  background: #4C5AA2;
  color: #fff;
  opacity: 0;
  flex: 0 0 auto;
  box-sizing: content-box;
  border: 0 solid #428DD8;
  border-radius: 5px;

  transition: 0.5s;
}

.BoxModel--showContent .BoxModel__box {
  opacity: 1;
}

.BoxModel--showPadding .BoxModel__box {
  padding: 1rem;
}

.BoxModel--showBorder .BoxModel__box {
  border-width: 5px;
}

.BoxModel--showMargin .BoxModel__box {
  margin: 1rem;
}